# Copia a test.env. Las listas de pruebas deben tener al menos dos páginas.
TEST_EPISODE=https://www.ivoox.com/cuestionario-cientifico-automatizado-marca-feedback-kike-maillo-audios-mp3_rf_1029841_1.html
TEST_LIST=https://www.ivoox.com/unidad-vigilancia-la-ventana_bk_list_9219955_1.html
TEST_PROGRAM=https://www.ivoox.com/podcast-feedback-ciencia_sq_f111686_1.html
